# Arquivos temporários de inspeção/renderização
tmp/
temp/
node_modules/
dist/
.astro/
.vercel/
.sites-runtime/

# Arquivos gerados pelo sistema operacional
Thumbs.db
Desktop.ini
.DS_Store

# Arquivos de editor
.vscode/
.idea/

.vercel
.env*
